 @import url('style/bootstrap.min.css');


@font-face {
    font-family: vazirNormal;
    src: url('fonts/vaizr.eot');
    src: url('fonts/vazir.eot?#iefix') format('embedded-opentype'), url('fonts/vazir.woff2') format('woff2'), url('fonts/vazir.woff') format('woff'), url('fonts/vazir.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: vazirBold;
    src: url('fonts/vazir-bold.eot');
    src: url('fonts/vazir-bold.eot?#iefix') format('embedded-opentype'), url('fonts/vazir-bold.woff2') format('woff2'), url('fonts/vazir-bold.woff') format('woff'), url('fonts/vazir-bold.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}


body{
    direction: rtl;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
    font-family: vazirNormal;
}
a{
    text-decoration: none;
}




.reveal {
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }





/* Style links */
a{
    text-decoration: none;
}


/*  header */
.bg-top{
    width: 100%;
    height: 550px;
    border-radius: 1px;
    background-image: url(img/bg-top.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-top: -410px;
}

 /* navgetionbar */


.bg-navbar{
    width: 80%;
    background-color: aliceblue;
    border-radius: 15px;
    right: 10%;
    direction: rtl;
    position: sticky;
    top: 0;
    margin-top: 68px;
    transition: 0.2s ease-out;
    border-bottom: 1px solid rgb(230, 230, 230);
    z-index: 9;


}

.bg-navbar-after{
    width: 100% !important;
    border-radius: 0 !important;

}

.navbar-more-index{
    margin-top:0 ;
    width: 100% ;
    background-color: #f0f8ff;
    border-bottom: 1px solid #e6e6e6 ;
    position: sticky;
    top: 0;
    z-index: 9;
    direction: rtl;
    color: black

     

}

.logoo{
    margin: 0;width: 54%;height: 54%;
}

.navgetion ul li a {
    color: rgb(0, 0, 0);

}

.div-navbar {
    margin-right: 30px;
}
/* button to navbar */
.btn-to-navbar{
 
    
}

.button-nav-li{
    list-style-type: none;
}



/* majors */

.School-departments{
    margin-top: 20px;
    text-align: center;
}

.Field-of-Study{

    color: aliceblue;
    height: 100px;
    margin-right:2px; 
    display: inline-block;
    vertical-align:middle;
    padding-top: 8px;
    transition: 0.50s;
    

}
.Field-of-Study:hover{
    position: relative;
    top: 2px;
    left: 2px;
    
    
}


.section-FieldOfStudy1{

    width: 90%;
    height: 94%;;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(127,221,195);
    background: radial-gradient(circle, rgba(127,221,195,0.9525862068965517) 0%, rgba(134,187,161,1) 31%, rgba(161,232,176,1) 100%);
   border: 1px solid  rgba(255, 0, 0, 0);
    /* -webkit-box-shadow: 2px 2px 7px 0px #ADADAD; 
    box-shadow: 2px 2px 7px 0px #ADADAD;
  */
}

.div-logo{
    margin-top: 4px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius:50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.logo{
    width: 54%;
    height: 54%;
    color: black;
    margin-top: 24%;

}

.name-FieldOfStudy{
    color: white;
    margin-top: 3px;
    font-family: vazirNormal;

}



/* Pictures */

.row-pictures{
    text-align: center;
    -webkit-animation: tilt-in-bottom-2 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: tilt-in-bottom-2 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.title-Pictures{

    text-align: center;
    margin-top: 50px
}

.col-pictures{
    margin-top: 20px;
}

.job-pictures{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    -webkit-box-shadow: 2px 2px 7px 0px #ADADAD; 
    box-shadow: 2px 2px 7px 0px #ADADAD;
}

/* Location */
.row-location{
    -webkit-animation: tilt-in-bottom-2 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: tilt-in-bottom-2 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.map{
    margin-top: 20px; 
    border-radius:30px;
    -webkit-box-shadow: 2px 2px 7px 0px #ADADAD; 
    box-shadow: 2px 2px 7px 0px #ADADAD;
}

/* Description */

.col-description{
    height: auto;
    margin-top: 60px;
    padding-right: 0px;
    padding-left: 0px;
}

.bg-description{
    
 width: 100%;
 height: 100%;
 background-color: cadetblue;
 background-image: url(img/bg-description.jpg);
 background-attachment: fixed;
 background-size: cover;
 


}

.div-description{
    width: 80%;
    height: auto;
    background-color: rgba(245,245,245,0.8);
    position: relative;
    top: 12%;
    right: 10%;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 100px;
}

.div-img-description{
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-top: 16px;
}

.img-description{
width: 100%;
height: 100%;
}

.description{
    width: 70%;
    height: auto;
    margin: 0 auto;

}

.text-description{
    font-size: 110%;
    padding: 4% 0 7% 0;
}

/* reasons */
.row-reason{
    margin-top: 30px;

    text-align: center;

}
.title-reason{
margin-bottom: 20px;

}

.col-reason{
    margin-top: 17px;

    box-sizing: border-box;
}

.div-logo-reason{
    margin: 0 auto;
    width: 50px;
    width: 80px;
    margin-top: 11%;
}
.logo-reason{
    width: 100%;
}
.col-reason .card{
    width: 100%;
    margin: 0 auto;
    background: #fff;
    transition: 0.5s;
    direction: rtl;
    border: 2px dashed #013d4a;
    
}

.col-reason .card .face{
    width: 100%;
    height: 100%;
    

}
.col-reason .card .face.face1{
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
    color: #013d4a;
}


/* footer */

ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 25px;
    padding-right: 0px;
}

.footer{
    margin-top: 20px;
}
.footer_area {
    margin-top: 62px;
    padding-top: 6px;
    position: relative;
    color: #fff;
    z-index: 100;
    background: #222;
    word-break: break-all;
    word-wrap: break-word;
}

.single_ftr form {
    margin-top: 8px;
}

.single_ftr p {
    margin-bottom: 10px;
    line-height: 30px;
}

.sf_title {
    color: #33d286;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.ftr_logo {
    float: left;
    padding: 15px 46px 0 0;
}

.ftr_logo a img {
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}

.ftr_logo a:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
}

.newsletter_form form {
    position: relative;
    display: block;
}

.newsletter_form {
    margin-top: 0px;
    overflow: hidden;
}


.newsletter_form .form-control {
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 8px 20px;
    width: 100%;
    position: relative;
    background: transparent;
    color: #fff;
    border-radius: 0;
}

.newsletter_form button {
    border: inherit;
    border-radius: 0;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    box-shadow: none;
    border: 1px solid transparent;
    transition: 0.5s;
    letter-spacing: 0.5px;
    position: absolute;
    right: 0px;
    top: 0;
    padding: 12px 17px;
    transition: .5s;
}

.newsletter_form button:hover,
.newsletter_form button:hover {
    background: transparent;
    color: #33d286;
    opacity: .9;
}

.newsletter_form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
    opacity: 1
}

.newsletter_form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    opacity: 1
}

.newsletter_form :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
    opacity: 1
}

.newsletter_form :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    opacity: 1
}

.form-control {
    
}

.form-control:focus {
    border-color: #33d286;
}

.single_ftr li {
    padding-bottom: 7px;
    color: #fff;
}

.single_ftr a {
    color: #fff;
}

.single_ftr a:hover {
    color: #33d286;
}

.ftr_social_icon li {
    display: inline-block;
    text-align: center;
    padding: 4px;
}


.ftr_social_icon ul li a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    height: 40px;
    line-height: 32px;
    padding: 4px 8px;
    width: 40px;
    transition: .5s;
}

.ftr_social_icon ul li a:hover {
    background: #33d286;
    border-color: #33d286;
    color: #fff;
}

.ftr_btm_area {
    background: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(136, 136, 136,0.5);
    margin-top: 28px;
    z-index: 100;
    position: relative;
}

.copyright_text {
    margin: 6px 0;
}

.payment_mthd_icon li {
    display: inline-block;
    margin-left: 10px;
    font-size: 30px;
    color: #fff;
}



/* index info */

.fit-cover{
    object-fit:cover
}
.bs-icon{
    --bs-icon-size:.75rem;
    display:flex;
    flex-shrink:0;
    justify-content:center;
    align-items:center;
    font-size:var(--bs-icon-size);
    width:calc(var(--bs-icon-size) * 2);
    height:calc(var(--bs-icon-size) * 2);
    color:var(--bs-primary)
}
.bs-icon-xs{
    --bs-icon-size:1rem;
    width:calc(var(--bs-icon-size) * 1.5);
    height:calc(var(--bs-icon-size) * 1.5)
}
.bs-icon-sm{
    --bs-icon-size:1rem
}
.bs-icon-md{
    --bs-icon-size:1.5rem
}
.bs-icon-lg{
    --bs-icon-size:2rem
}
.bs-icon-xl{
    --bs-icon-size:2.5rem
}
.bs-icon.bs-icon-primary{
    color:var(--bs-white);background:var(--bs-primary)
}
.bs-icon.bs-icon-primary-light{
    color:var(--bs-primary);background:rgba(var(--bs-primary-rgb),.2)
}
.bs-icon.bs-icon-semi-white{
    color:var(--bs-primary);background:rgba(255,255,255,.5)
}
.bs-icon.bs-icon-rounded{
    border-radius:.5rem
}
.bs-icon.bs-icon-circle{
    border-radius:50%
}

.card{
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}


